<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        .task-actions {
            margin-top: 5px;
        }
        .completed {
            text-decoration: line-through;
            color: #888;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Список задач</h1>
        <div class="mb-3">
            <a href="{{ url_for('register') }}" class="btn btn-info">Зарегистрироваться</a>
            <a href="{{ url_for('login') }}" class="btn btn-primary">Войти</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="btn btn-danger">Выйти</a>
                {% if current_user.role == 'admin' %}
                    <a href="{{ url_for('admin') }}" class="btn btn-warning">Админ-панель</a>
                {% endif %}
            {% endif %}
        </div>
        <form method="post" action="{{ url_for('filter_tasks') }}">
            <div class="form-group">
                <label for="status">Фильтр по статусу:</label>
                <select class="form-control" id="status" name="status">
                    <option value="">Все задачи</option>
                    <option value="completed" {% if filter_completed is not none and filter_completed %}selected{% endif %}>Выполненные задачи</option>
                    <option value="not_completed" {% if filter_completed is not none and not filter_completed %}selected{% endif %}>Не выполненные задачи</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Фильтровать</button>
        </form>

        <form method="post" class="mt-3">
            <div class="form-group">
                <input type="text" class="form-control" name="task" placeholder="Введите задачу" required>
            </div>
            <button type="submit" class="btn btn-success">Добавить задачу</button>
        </form>

        <h2 class="mt-4">Текущие задачи:</h2>
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item">
                    <span class="{% if task.completed %}completed{% endif %}">
                        {{ task.description }}
                    </span>
                    <div class="task-actions float-right">
                        <a href="{{ url_for('update_task', task_id=task.id) }}" class="btn btn-warning btn-sm">Изменить</a>
                        <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn btn-danger btn-sm">Удалить</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>